//Font
$default-font: Raleway, sans-serif;

//Colors
$color-white: #FFF;

//Size

$containerWidth: 1440px;

//Breakpoints

$grid-breakpoints: (
   xs: 0,
   sm: 576px,
   md: 768px,
   lg: 992px,
   xl: 1200px,
   xxl: 1400px,
);
